@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '~@owczar/spin-template/src/scss/bootstrap/variables';

.inlineInputs {
    display: flex;

    > *:not(:last-child) {
        margin-right: 5px;
    }
}

.paymentOtherLabel {
    color: $text-muted;
    font-weight: bold;
    margin: 0 0 5px 0;
}
