@import '~@owczar/spin-template/src/scss/bootstrap/variables';

.wrap {
    margin-top: 1rem;
}

.tableValue {
    font-size: 10px;

    th {
        font-weight: bold;
        text-transform: uppercase;
    }

    td:last-child {
        text-align: right;
        color: #fff;
    }
}
