@import '~@owczar/spin-template/src/scss/bootstrap/variables';

.wrap {
    margin-top: 1rem;
}

.bigValue {
    font-weight: 300;
    margin: 1rem 0 0 0;
    color: #fff;
    font-size: 32px;
}

.panel {
    background: $gray-dark;

    > *:first-child {
        background: $brand-success;
    }

    > *:last-child {
        padding-bottom: 0;
    }
}

.barChart {
    display: flex;
    justify-content: center;
}
