@keyframes spin {
    100% { transform:rotate(360deg) }
}

.asyncWrap {
    position: relative;

    .asyncLoader {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        g {
            transform-origin: 50% 50%;
            animation: spin .5s linear infinite
        }
    }
}
