.value {
    color: #fff;
    font-weight: 300;
    margin: 0 5px 0 0;
    font-size: 20px;
    vertical-align: middle;
}

.title {
    vertical-align: middle;
}

.filledListGroup {
    margin: -15px;
    background: none;
}

.filledListGroupItem {
    background: none;
}
