@import '~@owczar/spin-template/src/scss/bootstrap/variables';

.wizard {
    display: flex;
    align-items: center;
}

.wizard-step {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    text-decoration: none !important;

    &--active {
        .wizard-step__icon {
            background: $brand-primary;
        }
        .wizard-step__content {
            color: #fff;
        }
    }

    &--disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }

    &--complete {
        .wizard-step__icon {
            background: $brand-success;
        }
        .wizard-step__content {
            text-decoration: line-through;
        }
    }

    &__icon {
        flex: 0 0 30px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        background: $gray-light;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        > * {
            color: #fff;
        }
    }

    &__content {
        color: $gray-lighter;
    }

    + .wizard-step {
        margin-left: 20px;
    }
}
