@import '~@owczar/spin-template/src/scss/bootstrap/variables';

.floatGridParent {
    margin: 0 auto;

    &.static {
        @media (min-width: $screen-sm-min) {
            width: $container-sm;
        }
        @media (min-width: $screen-md-min) {
            width: $container-md;
        }
        @media (min-width: $screen-lg-min) {
            width: $container-lg;
        }
    }
}

.floatCol {
    padding-left: 15px;
    padding-right: 15px;
}
