@import '~@owczar/spin-template/src/scss/bootstrap/variables';

.summaryBox {
    border-width: 2px;
    cursor: grab;

    .mainIcon {
        font-size: 2em;
    }

    .value {
        font-size: 28px;
        color: $brand-white;
        margin: 0;
    }
}
