@import "custom.scss";

.galleryThumbnail {
    border: 2px solid $gray-darker;
    background: $gray-darker;
    transition: none;
}

.galleryThumbnail.active {
    border: 2px solid $brand-primary;
}

.galleryThumbnail:hover {
     border: 2px solid $gray;
}

.galleryThumbnail.active:hover {
    border: 2px solid darken($brand-primary, 13.5%);
}
