@import '~@owczar/spin-template/src/scss/bootstrap/variables';

.panel {
    background: none;
    border: 2px solid $gray-dark;
    
    .controls {
        display: flex;
        justify-content: space-between;
    }
}
