@import '~@owczar/spin-template/src/scss/bootstrap/variables';

.chatMessageContent {
    padding: 15px;
    border-radius: 3px;
    background: $gray;
    color: #fff;
}

.chatMessage.active .chatMessageContent {
    background: $brand-primary;
}

.chatMessageFooter {
    margin: 1rem 0;

    > * + * {
        margin-left: 5px;
    }
}

.chatMessage:not(.leftAligned) .chatMessageFooter {
    text-align: right;
}
